<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search</title>
    <script src="https://kit.fontawesome.com/6dee20ad07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.serach.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/soundstoryicon.png}">
</head>
<body>
<nav id="nav">
    <div class="logo-image">
        <a target="_blank" th:src="@{/assets/images/soundstoryicon.png}" href="#"></a>
        <img th:src="@{/assets/images/soundstoryicon.png}" alt="홈 로고" class="image">
        <a href="#" class="title" type="text">Sound Story</a>
    </div>
    <ul class="primary">
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/singer.png}" alt="아티스트" class="image"></a>
            <a href="#artist" class="text" type="text">인기 아티스트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/album.png}" alt="앨범" class="image"></a>
            <a href="#album" class="text" type="text">인기 앨범</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/chart.png}" alt="차트" class="image"></a>
            <a href="#chart" class="text" type="text">인기 차트</a>
        </li>
        <li>
            <a href="#" class="item-image">
                <img th:src="@{/assets/images/recommend.png}" alt="차트" class="image"></a>
            <a href="" class="text" type="text">장르별 추천</a>
        </li>
    </ul>
    <div class="playlist">
        <div class="playlist-container">----플레이리스트----</div>
        <button class="add-button">
            <i class="icon fa-solid fa-plus"></i>
        </button>
        <div class="playlist-text">
            <span class="text">나만의 플레이리스트틀 추가해 보세요 !</span>
        </div>
    </div>
</nav>
<main class="main">
    <header id="header">
        <ul class="menu">
            <li class="spring"></li>
<!--            <li class="item">-->
<!--                <label class="label">-->
<!--                    <input class="input" placeholder="아티스트 및 음악 검색" type="search">-->
<!--                </label>-->
<!--            </li>-->
<!--            <li class="item">-->
<!--                <a class="search-button" href="" type="submit">검색</a>-->
<!--            </li>-->
            <li class="item">
                <a class="login-button" href="#">로그인 하기</a>
            </li>
        </ul>
        <ul class="button">
            <li class="album-button">
                <button class="item">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="item">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </li>
        </ul>
    </header>
    <form method="get">
        <label>
            <select name="by">
                <option th:selected="${search1 != null && search1.getBy() != null && search1.getBy().equals('name')}" value="name" name="name">아티스트</option>
                <option>노래</option>
            </select>
        </label>
        <label>
            <input type="text" name="keyword" placeholder="아티스트 및 노래을 작성해주세요." maxlength="50" min="0">
        </label>
        <button type="submit">검색</button>
    </form>
    <form method="post">
    <table id="searchTable" border="1">
        <thead>
        <tr>
            <th colspan="1">아티스트</th>
            <th colspan="1">노래</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="search : ${search}">
            <th>여기서부터 적용해야함</th>
            <td>노래</td>
        </tr>
        </tbody>
    </table>
    <div class="error" th:if="${#arrays.length(search) == 0}">
        <h1 class="encore-text">"@@@"과(와) 일치하는 결과 없음</h1>
        <p class="text">입력한 단어의 철자가 맞는지 확인하거나 짧은 키워드 또는 다른 키워드를 사용하세요.</p>
    </div>
    <footer id="footer">
        <ul class="menu">
            <li class="item">
                <a class="link" href="">사운드 스토리 이용약관</a>
            </li>
            <li class="item">
                <a class="link" href="">안전 및 개인정보 보호 센터</a>
            </li>
            <li class="item">
                <a class="link" href=""> 개인정보 처리방침</a>
            </li>
            <li class="item">
                <a class="link" href="">&copy; SoundStory Corp.</a>
            </li>
        </ul>
    </footer>
    </form>
</main>
</body>
</html>
